@charset "utf-8";

ul{
    display: flex;
}
li{
    list-style: none;
    padding: 16px;
}

.wrap{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.item{
    width: calc(90% / 3);
    height: 280px;
    background-color: brown;
    margin: 1%;
}
.item:first-child{
    height: 150px;
}

.item:nth-child(5){
    height: 320px;
}

@media screen and (max-width: 767px){
    .item{
      width: calc(90% / 2);
      background-color: blue;
    }
  }